/* * {
  box-sizing: border-box;
}

.column { width: 100%;
    float: left;
    width: 25%;
    padding: 10px;
    height: 500px; 
  
  }
  
  
  .row:after {
    content: "";
    display: table;
    
  }
   */
*{
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: 4vh;
}
.nav{
    justify-content: center;
    background-color: rgba(65, 139, 236, 0.712);
}
.left{
    background-color: aqua;
}
.right{
    background-color: blueviolet;
}
.footer{
    background-color: blanchedalmond;
}